name: Lint

on:
    push:
        branches: ['**']
    pull_request:
        branches: ['**']
    workflow_dispatch:

jobs:
    lint:
        name: Code Quality Check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v1

            - name: Install dependencies
              run: bun install

            - name: Check code formatting
              run: bun run format:check
